---
tab_title: CV | Adam DJ Brett | Ph.D. Canddiate | Religion | Syracuse University
canonical_url: /resume
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include cv-head.html %}

  <body class="mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
          {% include cv-header.html %}


      <main class="mdl-layout__content">
          <div class="content">
              {% include cv-page_header.html %}
              {{ content }}
          </div>


          {% include cv-footer.html %}


      </main>

    </div>
  </body>
</html>
