---
tab_title: CV | Adam DJ Brett | Ph.D. Canddiate | Religion | Syracuse University
canonical_url: /resume
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.tab_title | default: page.title | default: site.title | escape }}</title>
    <meta name="application-name" property="og:title" content="{{ page.tab_title | default: page.title | default: site.title | escape }}" />
    <link rel="canonical" href="{{ page.canonical_url | default: page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta name="description" property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta name="author" property="og:author" content="{{ site.author | default: site.title }}" />
    <meta property="og:type" content="website" />

    <!-- Add to homescreen -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="/favicon.ico | prepend: site.baseurl" />

    <!-- See https://gist.github.com/AnotherKamila/365f98406eea74a3c523bfde08c6db48 for custom MDL -->
    <link rel="stylesheet" href="{{ "/assets/mdl/material.min.css" | prepend: site.baseurl }}" />
    <script defer src="{{ "/assets/mdl/material.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/cv.css" | prepend: site.url }}">
</head>
  <body class="mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header site-header">
          <div class="mdl-layout__header-row">
              <span class="mdl-layout__title">
                  <span class="site-title">
                      <a href="{{ site.url }}">{{ site.title | escape }}</a>{%if page.canonical_url %}<a href="{{ page.canonical_url | prepend: site.url }}">{{ page.canonical_url | escape }}</a>{% endif %}
                  </span>
              </span>
              <div class="mdl-layout-spacer"></div>
              <nav class="mdl-navigation mdl-layout--large-screen-only">
                {% for item in site.data.navigation %}
                {% assign canonical = item | append: '/' %}
                <a class="mdl-navigation__link" href="{{ canonical | prepend: site.url }}">
                    {{ item | escape }}
                </a>
                {% endfor %}
              </nav>
          </div>
      </header>
      <div class="mdl-layout__drawer mdl-layout--small-screen-only">
          <span class="mdl-layout__title">
              <a href="{{site.url}}">{{ site.title }}</a>
          </span>
          <nav class="mdl-navigation">
            {% for item in site.data.navigation %}
            {% assign canonical = item | append: '/' %}
            <a class="mdl-navigation__link" href="{{ canonical | prepend: site.url }}">
                {{ item | escape }}
            </a>
            {% endfor %}
          </nav>
      </div>

      <main class="mdl-layout__content">
          <div class="content">
              {% include cv.html %}
          </div>
          {% include cv-footer.html %}
      </main>
    </div>
  </body>
</html>
